<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STAYFIT</title>
    <link rel="stylesheet" href="css/.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css'>
    <!-- CSS Files -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.2/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.3/components/heroes/hero-1/assets/css/hero-1.css" />
</head>


{{>home_navbar}}


<!-- carousel -->

<!-- Hero 1 - Bootstrap Brain Component -->
<section class="bsb-hero-1 px-3 bsb-overlay bsb-hover-pull"
    style="background-image: url('https://media.istockphoto.com/id/928250848/photo/gym-background-blurred.jpg?s=612x612&w=0&k=20&c=0ggmlyqUKjyKjd81thDZp98X8QatlZWOei19kxIPecM=');">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-11 col-lg-9 col-xl-7 col-xxl-6 text-center text-white">
                <h1 class="display-3 fw-bold mb-3">Art of Design</h1>
                <p class="lead mb-5">Powerful, extensible, and feature-packed frontend toolkit. Build and customize with
                    Sass, utilize prebuilt grid system and components, and bring projects to life with powerful
                    JavaScript plugins.</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <button type="button" class="btn bsb-btn-3xl btn-light gap-3">Free Consultation</button>
                    <button type="button" class="btn bsb-btn-3xl btn-outline-light">Buy Credits</button>
                </div>
            </div>
        </div>
    </div>
</section>


<!--- quotes ---->

<section class="vh-10" style="background-color: #ffffff;">
    <div class="container py-5 h-10">
        <div class=" row d-flex justify-content-center align-items-center h-10">
            <div class="col col-lg-9 col-xl-7">
                <div class="card" style="border-radius: 15px ; background-color: #d7c6c6;">
                    <div class="card-body p-5">

                        <div class="text-center mb-4 pb-2">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-quotes/bulb.webp"
                                alt="Bulb" width="100">
                        </div>

                        <figure class="text-center mb-0">
                            <blockquote class="blockquote">
                                <p class="pb-3">
                                    <i class="fas fa-quote-left fa-xs text-primary"></i>
                                    <span class="lead font-italic">To keep the body in good health is a duty, otherwise
                                        we shall not be able to keep our mind strong and clear.
                                    </span>
                                    <i class="fas fa-quote-right fa-xs text-primary"></i>
                                </p>
                            </blockquote>
                            <figcaption class="blockquote-footer mb-0">
                                Buddha
                            </figcaption>
                        </figure>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr>

<div class="container my-5">


    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 py-5 text-center white-text elegant-color z-depth-1 rounded"
        style="background-color: rgb(50, 47, 47);">

        <h3 class="" style="color: #ffffff;"> <i class="fas fa-dumbbell"></i> FIT ZONE <i class="fas fa-dumbbell"></i>
        </h3>

    </section>
    <!--Section: Content-->


</div>



<!-- Chest section --->

<div id="chest">

    <div class="container mt-5">


        <!--Section: Content-->
        <section class="dark-grey-text text-center">

            <!-- Section heading -->
            <h2 class="font-weight-bold mb-4 pb-2">CHEST WORKOUT</h2>
            <!-- Section description -->
            <p class="text-center mx-auto w-responsive mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam
                eum porro a pariatur veniam.</p>

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-lg-4 col-md-12 mb-4 shadow-lg p-3 mb-5 bg-body rounded">

                    <!-- Featured image -->
                    <div class="view overlay rounded z-depth-2 mb-4">
                        <video
                            src="https://www.shutterstock.com/shutterstock/videos/33735811/preview/stock-footage-dumbbell-bench-press-exercise-d-video.webm"
                            class="card-img-top" controls></video>
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Post title -->
                    <h4 class="font-weight-bold mb-3"><strong>Flat Bench Press</strong></h4>
                    <!-- Post data -->
                    <p> <b>Target :</b> Complete chest <br> <b>Sets to be done :</b> 3-4 || <b>Reps range :</b> 10-12
                    </p>
                    <p>Lie on a flat bench with feet planted firmly on the ground. Grip the barbell slightly wider than
                        shoulder-width apart. Lower the barbell to your chest, then press it upwards until arms are
                        fully extended. Keep core engaged and elbows tucked. Control the movement throughout. Repeat for
                        desired repetitions.</p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-lg-4 col-md-12 mb-4 shadow-lg p-3 mb-5 bg-body rounded">

                    <!-- Featured image -->
                    <div class="view overlay rounded z-depth-2 mb-4">
                        <video
                            src="https://www.shutterstock.com/shutterstock/videos/1108564909/preview/stock-footage-chest-barbell-incline-bench-press-d-no-background-with-dimensional-shadow-can-be.webm"
                            class="card-img-top" controls></video>
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Post title -->
                    <h4 class="font-weight-bold mb-3"><strong>Incline Bench Press</strong></h4>
                    <!-- Post data -->
                    <p> <b>Target :</b> Upper chest <br> <b>Sets to be done :</b> 3-4 || <b>Reps range :</b> 10-12
                    </p>
                    <p>To perform incline bench press, set an adjustable bench at a 30-45 degree angle. Lie on it, feet
                        flat on the floor. Grip the barbell slightly wider than shoulder-width, lower it to chest level,
                        then press upwards, extending arms. Lower under control and repeat for desired reps.
                    </p>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-lg-4 col-md-12 mb-4 shadow-lg p-3 mb-5 bg-body rounded">

                    <!-- Featured image -->
                    <div class="view overlay rounded z-depth-2 mb-4">
                        <video
                            src="https://www.shutterstock.com/shutterstock/videos/1100873273/preview/stock-footage-barbell-bench-press-decline-fitness-exercise-workout-animation-male-muscle-highlight-demonstration.webm"
                            class="card-img-top" controls></video>
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Post title -->
                    <h4 class="font-weight-bold mb-3"><strong>Decline Bench Press</strong></h4>
                    <!-- Post data -->
                    <p> <b>Target :</b> Lower chest <br> <b>Sets to be done :</b> 3-4 || <b>Reps range :</b> 10-12
                    </p>
                    <p>
                        To perform decline bench press, secure feet under the pads of a declined bench. Lie on it,
                        gripping the barbell with hands shoulder-width apart. Lower the barbell to the lower chest, then
                        press upwards, extending arms. Lower under control and repeat for desired repetitions.
                    </p>
                </div>
                <!-- Grid column -->


                <!-- Grid column -->
                <div class="col-lg-4 col-md-12 mb-4 shadow-lg p-3 mb-5 bg-body rounded">

                    <!-- Featured image -->
                    <div class="view overlay rounded z-depth-2 mb-4">
                        <video
                            src="https://www.shutterstock.com/shutterstock/videos/1100204463/preview/stock-footage-man-character-doing-push-ups-chest-workout-in-d-animation-and-illustration-perfect-for-fitness.webm"
                            class="card-img-top" controls></video>
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Post title -->
                    <h4 class="font-weight-bold mb-3"><strong>Pushups</strong></h4>
                    <!-- Post data -->
                    <p> <b>Target :</b> Complete chest <br> <b>Sets to be done :</b> 3-4 || <b>Reps range :</b> Till
                        failure
                    </p>
                    <p>
                        To perform decline bench press, secure feet under the pads of a declined bench. Lie on it,
                        gripping the barbell with hands shoulder-width apart. Lower the barbell to the lower chest, then
                        press upwards, extending arms. Lower under control and repeat for desired repetitions.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-lg-4 col-md-12 mb-4 shadow-lg p-3 mb-5 bg-body rounded">

                    <!-- Featured image -->
                    <div class="view overlay rounded z-depth-2 mb-4">
                        <video
                            src="https://www.shutterstock.com/shutterstock/videos/1046311222/preview/stock-footage-cable-standing-up-straight-crossovers-chest-exercise-d.webm"
                            class="card-img-top" controls></video>
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Post title -->
                    <h4 class="font-weight-bold mb-3"><strong>Cable flies</strong></h4>
                    <!-- Post data -->
                    <p> <b>Target :</b> Complete chest <br> <b>Sets to be done :</b> 3-4 || <b>Reps range :</b> 10-12
                    </p>
                    <p>
                        To perform cable chest flies, set pulleys at shoulder height, select weight. Stand between
                        pulleys, grab handles, step forward slightly. Keep slight elbow bend, bring hands together in
                        front of chest, squeeze chest muscles. Return to starting position, maintaining control. Breathe
                        steadily, avoid momentum. Adjust weight for challenge and form.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-lg-4 col-md-12 mb-4 shadow-lg p-3 mb-5 bg-body rounded">

                    <!-- Featured image -->
                    <div class="view overlay rounded z-depth-2 mb-4">
                        <video
                            src="https://www.shutterstock.com/shutterstock/videos/1043189371/preview/stock-footage-dumbbell-straight-arm-pullover-d.webm"
                            class="card-img-top" controls></video>
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Post title -->
                    <h4 class="font-weight-bold mb-3"><strong>Dumbell Pullovers</strong></h4>
                    <!-- Post data -->
                    <p> <b>Target :</b> Complete chest <br> <b>Sets to be done :</b> 3-4 || <b>Reps range :</b> 10-12
                    </p>
                    <p>To perform dumbbell pullovers for chest, lie on a flat bench, head hanging off the edge. Hold a
                        dumbbell with both hands above chest, arms slightly bent. Lower the weight backward over the
                        head, feeling a stretch in chest. Pull the weight back up to starting position. Repeat for
                        desired reps.
                    </p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->

        </section>
        <!--Section: Content-->


    </div>
</div>

<hr>


<!--- Back section --->
<div id="back">

    <div class="container mt-5">


        <!--Section: Content-->
        <section class="dark-grey-text text-center">

            <!-- Section heading -->
            <h2 class="font-weight-bold mb-4 pb-2">BACK WORKOUT</h2>
            <!-- Section description -->
            <p class="text-center mx-auto w-responsive mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam
                eum porro a pariatur veniam.</p>

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-lg-4 col-md-12 mb-4 shadow-lg p-3 mb-5 bg-body rounded">

                    <!-- Featured image -->
                    <div class="view overlay rounded z-depth-2 mb-4">
                        <video
                            src="https://www.shutterstock.com/shutterstock/videos/1110097013/preview/stock-footage-lower-back-barbell-romanian-deadlift-d-anatomy-of-fitness-and-bodybuilding-with-distinct.webm"
                            class="card-img-top" controls></video>
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Post title -->
                    <h4 class="font-weight-bold mb-3"><strong>Dead Lifts</strong></h4>
                    <!-- Post data -->
                    <p> <b>Target :</b> Complete Back <br> <b>Sets to be done :</b> 3-4 || <b>Reps range :</b> 10-12
                    </p>
                    <p>To perform a deadlift, stand with feet shoulder-width apart, toes under the bar. Squat down, grip
                        the bar just outside legs, back straight. Keep arms straight, lift chest, push through heels,
                        extend hips and knees to stand. Lower the bar by bending at hips and knees, keeping back
                        straight.</p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-lg-4 col-md-12 mb-4 shadow-lg p-3 mb-5 bg-body rounded">

                    <!-- Featured image -->
                    <div class="view overlay rounded z-depth-2 mb-4">
                        <video
                            src="https://www.shutterstock.com/shutterstock/videos/1104342957/preview/stock-footage-lat-pull-down-normal-grip-fitness-exercise-workout-animation-male-muscle-highlight-demonstration-at.webm"
                            class="card-img-top" controls></video>
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Post title -->
                    <h4 class="font-weight-bold mb-3"><strong>Lat Pulldowns</strong></h4>
                    <!-- Post data -->
                    <p> <b>Target :</b> Lats muscle <br> <b>Sets to be done :</b> 3-4 || <b>Reps range :</b> 10-12
                    </p>
                    <p>To perform lat pulldowns, sit at a lat pulldown machine, adjust knee pad, grasp the bar with a
                        wide overhand grip, arms fully extended. Pull the bar down towards chest, squeezing shoulder
                        blades, keep torso stable. Slowly return bar to starting position, extending arms fully. Repeat
                        for desired
                    </p>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-lg-4 col-md-12 mb-4 shadow-lg p-3 mb-5 bg-body rounded">

                    <!-- Featured image -->
                    <div class="view overlay rounded z-depth-2 mb-4">
                        <video
                            src="https://www.shutterstock.com/shutterstock/videos/1104342923/preview/stock-footage-seated-cable-row-v-bar-machine-fitness-exercise-workout-animation-male-muscle-highlight.webm"
                            class="card-img-top" controls></video>
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Post title -->
                    <h4 class="font-weight-bold mb-3"><strong>Seated Horizontal Rows</strong></h4>
                    <!-- Post data -->
                    <p> <b>Target :</b> Upper Back <br> <b>Sets to be done :</b> 3-4 || <b>Reps range :</b> 10-12
                    </p>
                    <p>

                        To perform seated horizontal rows, sit on a bench, feet flat on the floor, knees bent. Hold a
                        barbell with an overhand grip, arms extended in front. Pull the bar towards chest, squeezing
                        shoulder blades together, elbows bending. Slowly lower the bar back to starting position. Repeat
                        for desired reps.
                    </p>
                </div>
                <!-- Grid column -->


                <!-- Grid column -->
                <div class="col-lg-4 col-md-12 mb-4 shadow-lg p-3 mb-5 bg-body rounded">

                    <!-- Featured image -->
                    <div class="view overlay rounded z-depth-2 mb-4">
                        <video
                            src="https://www.shutterstock.com/shutterstock/videos/1104380881/preview/stock-footage-bent-over-barbell-row-fitness-exercise-workout-animation-male-muscle-highlight-demonstration-at-k.webm"
                            class="card-img-top" controls></video>
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Post title -->
                    <h4 class="font-weight-bold mb-3"><strong>Barbell Bent Over Rows</strong></h4>
                    <!-- Post data -->
                    <p> <b>Target :</b> Mid Back <br> <b>Sets to be done :</b> 3-4 || <b>Reps range :</b> 10-12
                    </p>
                    <p>
                        To perform standing barbell rows, stand with feet shoulder-width apart, knees slightly bent.
                        Hold a barbell with an overhand grip, arms fully extended. Pull the bar towards the lower chest,
                        squeezing shoulder blades, elbows bending outwards. Lower the bar back to starting position.
                        Repeat for desired reps, maintaining proper form.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-lg-4 col-md-12 mb-4 shadow-lg p-3 mb-5 bg-body rounded">

                    <!-- Featured image -->
                    <div class="view overlay rounded z-depth-2 mb-4">
                        <video
                            src="https://www.shutterstock.com/shutterstock/videos/1043189659/preview/stock-footage-dumbbell-one-arm-row-d.webm"
                            class="card-img-top" controls></video>
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Post title -->
                    <h4 class="font-weight-bold mb-3"><strong>One Arm Dumbell Rows</strong></h4>
                    <!-- Post data -->
                    <p> <b>Target :</b> Lats Muscle <br> <b>Sets to be done :</b> 3-4 || <b>Reps range :</b> 10-12
                    </p>
                    <p>
                        To perform one-arm dumbbell rows, stand beside a bench, knees slightly bent, one hand and knee
                        resting on the bench. Hold a dumbbell with the other hand, arm extended downward. Pull the
                        dumbbell towards the hip, squeezing the back muscles. Lower the dumbbell back to starting
                        position. Repeat for desired reps.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-lg-4 col-md-12 mb-4 shadow-lg p-3 mb-5 bg-body rounded">

                    <!-- Featured image -->
                    <div class="view overlay rounded z-depth-2 mb-4">
                        <video
                            src="https://www.shutterstock.com/shutterstock/videos/1046000797/preview/stock-footage--degree-twisting-hyperextension-hips-exercise-d.webm"
                            class="card-img-top" controls></video>
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Post title -->
                    <h4 class="font-weight-bold mb-3"><strong>Hyperextensions</strong></h4>
                    <!-- Post data -->
                    <p> <b>Target :</b> Lower Back <br> <b>Sets to be done :</b> 3-4 || <b>Reps range :</b> 12-15
                    </p>
                    <p>
                        To perform hyperextensions, lie face down on a hyperextension bench, feet secured under the
                        footpads. Cross arms over chest or place hands behind head. Engage lower back muscles, lift
                        torso until it forms a straight line with legs. Lower back down with control. Repeat for desired
                        reps, avoiding hyperextension.
                    </p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->

        </section>
        <!--Section: Content-->


    </div>
</div>
<hr>

<!--- Arms section --->
<div id="back">

    <div class="container mt-5">


        <!--Section: Content-->
        <section class="dark-grey-text text-center">

            <!-- Section heading -->
            <h2 class="font-weight-bold mb-4 pb-2">ARMS WORKOUT</h2>
            <!-- Section description -->
            <p class="text-center mx-auto w-responsive mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam
                eum porro a pariatur veniam.</p>

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-lg-4 col-md-12 mb-4 shadow-lg p-3 mb-5 bg-body rounded">

                    <!-- Featured image -->
                    <div class="view overlay rounded z-depth-2 mb-4">
                        <video
                            src="https://www.shutterstock.com/shutterstock/videos/1107371529/preview/stock-footage-dumbbell-drag-bicep-curl-d-no-background-with-alpha-channel-with-dimensional-shadow-can.webm"
                            class="card-img-top" controls></video>
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Post title -->
                    <h4 class="font-weight-bold mb-3"><strong>Bicep Curl </strong></h4>
                    <!-- Post data -->
                    <p> <b>Target :</b>Bicep Short Head <br> <b>Sets to be done :</b> 3-4 || <b>Reps range :</b> 10-12
                    </p>
                    <p>To target the short head of the biceps during a curl, use a narrower grip on a barbell or
                        dumbbell. Keep elbows close to the body, emphasizing the contraction at the peak of the
                        movement. Ensure full range of motion, extending arms fully at the bottom and flexing at the
                        top.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-lg-4 col-md-12 mb-4 shadow-lg p-3 mb-5 bg-body rounded">

                    <!-- Featured image -->
                    <div class="view overlay rounded z-depth-2 mb-4">
                        <video
                            src="https://www.shutterstock.com/shutterstock/videos/1107371533/preview/stock-footage-dumbbell-cross-body-bicep-curl-d-no-background-with-alpha-channel-with-dimensional.webm"
                            class="card-img-top" controls></video>
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Post title -->
                    <h4 class="font-weight-bold mb-3"><strong>Hammer Curl </strong></h4>
                    <!-- Post data -->
                    <p> <b>Target :</b> Brochiallis <br> <b>Sets to be done :</b> 3-4 || <b>Reps range :</b> 10-12
                    </p>
                    <p>To execute a hammer curl, grasp dumbbells with a neutral grip (palms facing each other). Keep
                        elbows close to the body, and curl weights upward while maintaining a controlled motion. Pause
                        briefly at the top, then lower weights back down, focusing on engaging both the biceps and
                        forearms throughout the movement.
                    </p>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-lg-4 col-md-12 mb-4 shadow-lg p-3 mb-5 bg-body rounded">

                    <!-- Featured image -->
                    <div class="view overlay rounded z-depth-2 mb-4">
                        <video
                            src="https://www.shutterstock.com/shutterstock/videos/1107336997/preview/stock-footage-dumbbell-incline-biceps-curl-d-no-background-with-alpha-channel-with-dimensional-shadow.webm"
                            class="card-img-top" controls></video>
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Post title -->
                    <h4 class="font-weight-bold mb-3"><strong>Incline Dumbell Curls</strong></h4>
                    <!-- Post data -->
                    <p> <b>Target :</b>Bicep Long head <br> <b>Sets to be done :</b> 3-4 || <b>Reps range :</b> 10-12
                    </p>
                    <p>
                        To target the long head of the biceps with incline dumbbell curls, adjust a bench to a 45-degree
                        angle. Sit back against the bench, allowing arms to hang straight down. Curl dumbbells upward,
                        keeping elbows slightly behind the body to emphasize the stretch on the long head. Lower weights
                        back down under control.
                    </p>
                </div>
                <!-- Grid column -->


                <!-- Grid column -->
                <div class="col-lg-4 col-md-12 mb-4 shadow-lg p-3 mb-5 bg-body rounded">

                    <!-- Featured image -->
                    <div class="view overlay rounded z-depth-2 mb-4">
                        <video src="https://www.shutterstock.com/shutterstock/videos/1046311012/preview/stock-footage-cable-rope-high-pulley-overhead-triceps-extension-upper-arms-exercise-d.webm
" class="card-img-top" controls></video>
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Post title -->
                    <h4 class="font-weight-bold mb-3"><strong>Supported Tricep Pushdowns</strong></h4>
                    <!-- Post data -->
                    <p> <b>Target :</b> Tricep short head <br> <b>Sets to be done :</b> 3-4 || <b>Reps range :</b> 10-12
                    </p>
                    <p>
                        Perform supported tricep pushdowns for the short head by attaching a straight bar to a cable
                        machine. Stand with elbows tight to the body and forearms parallel to the ground. Push the bar
                        downward until arms are fully extended, focusing on contracting the triceps. Return to the
                        starting position smoothly.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-lg-4 col-md-12 mb-4 shadow-lg p-3 mb-5 bg-body rounded">

                    <!-- Featured image -->
                    <div class="view overlay rounded z-depth-2 mb-4">
                        <video src="https://www.shutterstock.com/shutterstock/videos/1046311012/preview/stock-footage-cable-rope-high-pulley-overhead-triceps-extension-upper-arms-exercise-d.webm
" class="card-img-top" controls></video>
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Post title -->
                    <h4 class="font-weight-bold mb-3"><strong>Cable Trciep Overhead Extension</strong></h4>
                    <!-- Post data -->
                    <p> <b>Target :</b> Trciep long head <br> <b>Sets to be done :</b> 3-4 || <b>Reps range :</b> 10-12
                    </p>
                    <p>
                        Execute cable overhead extensions to target the tricep long head. Stand facing away from the
                        cable machine, grab a rope or bar attachment overhead. Lower the attachment behind your head,
                        keeping elbows stationary. Extend arms upward, focusing on stretching the long head. Return to
                        the starting position with control, engaging triceps throughout.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-lg-4 col-md-12 mb-4 shadow-lg p-3 mb-5 bg-body rounded">

                    <!-- Featured image -->
                    <div class="view overlay rounded z-depth-2 mb-4">
                        <video
                            src="https://www.shutterstock.com/shutterstock/videos/3468708679/preview/stock-footage-man-character-doing-box-triceps-dips-hand-workout-in-d-animation-and-illustration-perfect-for.webm"
                            class="card-img-top" controls></video>
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Post title -->
                    <h4 class="font-weight-bold mb-3"><strong>Tricep Dips</strong></h4>
                    <!-- Post data -->
                    <p> <b>Target :</b> Complete Tricep <br> <b>Sets to be done :</b> 3-4 || <b>Reps range :</b> Till
                        Failure
                    </p>
                    <p>
                        Perform tricep dips for comprehensive tricep engagement. Position hands shoulder-width apart on
                        parallel bars, elbows slightly bent. Lower body until elbows reach 90 degrees, keeping torso
                        upright. Push back up, fully extending arms without locking elbows. Maintain control throughout
                        the movement to effectively target all three tricep heads.
                    </p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->

        </section>
        <!--Section: Content-->


    </div>
</div>
<hr>


<!--- Shoulders section --->
<div id="back">

    <div class="container mt-5">


        <!--Section: Content-->
        <section class="dark-grey-text text-center">

            <!-- Section heading -->
            <h2 class="font-weight-bold mb-4 pb-2">SHOULDERS WORKOUT</h2>
            <!-- Section description -->
            <p class="text-center mx-auto w-responsive mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam
                eum porro a pariatur veniam.</p>

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-lg-4 col-md-12 mb-4 shadow-lg p-3 mb-5 bg-body rounded">

                    <!-- Featured image -->
                    <div class="view overlay rounded z-depth-2 mb-4">
                        <video
                            src="https://www.shutterstock.com/shutterstock/videos/1107371529/preview/stock-footage-dumbbell-drag-bicep-curl-d-no-background-with-alpha-channel-with-dimensional-shadow-can.webm"
                            class="card-img-top" controls></video>
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Post title -->
                    <h4 class="font-weight-bold mb-3"><strong>Shoulder Press </strong></h4>
                    <!-- Post data -->
                    <p> <b>Target :</b>Front Delts <br> <b>Sets to be done :</b> 3-4 || <b>Reps range :</b> 10-12
                    </p>
                    <p>To target the short head of the biceps during a curl, use a narrower grip on a barbell or
                        dumbbell. Keep elbows close to the body, emphasizing the contraction at the peak of the
                        movement. Ensure full range of motion, extending arms fully at the bottom and flexing at the
                        top.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-lg-4 col-md-12 mb-4 shadow-lg p-3 mb-5 bg-body rounded">

                    <!-- Featured image -->
                    <div class="view overlay rounded z-depth-2 mb-4">
                        <video
                            src="https://www.shutterstock.com/shutterstock/videos/1107371533/preview/stock-footage-dumbbell-cross-body-bicep-curl-d-no-background-with-alpha-channel-with-dimensional.webm"
                            class="card-img-top" controls></video>
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Post title -->
                    <h4 class="font-weight-bold mb-3"><strong>Hammer Curl </strong></h4>
                    <!-- Post data -->
                    <p> <b>Target :</b> Brochiallis <br> <b>Sets to be done :</b> 3-4 || <b>Reps range :</b> 10-12
                    </p>
                    <p>To execute a hammer curl, grasp dumbbells with a neutral grip (palms facing each other). Keep
                        elbows close to the body, and curl weights upward while maintaining a controlled motion. Pause
                        briefly at the top, then lower weights back down, focusing on engaging both the biceps and
                        forearms throughout the movement.
                    </p>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-lg-4 col-md-12 mb-4 shadow-lg p-3 mb-5 bg-body rounded">

                    <!-- Featured image -->
                    <div class="view overlay rounded z-depth-2 mb-4">
                        <video
                            src="https://www.shutterstock.com/shutterstock/videos/1107336997/preview/stock-footage-dumbbell-incline-biceps-curl-d-no-background-with-alpha-channel-with-dimensional-shadow.webm"
                            class="card-img-top" controls></video>
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Post title -->
                    <h4 class="font-weight-bold mb-3"><strong>Incline Dumbell Curls</strong></h4>
                    <!-- Post data -->
                    <p> <b>Target :</b>Bicep Long head <br> <b>Sets to be done :</b> 3-4 || <b>Reps range :</b> 10-12
                    </p>
                    <p>
                        To target the long head of the biceps with incline dumbbell curls, adjust a bench to a 45-degree
                        angle. Sit back against the bench, allowing arms to hang straight down. Curl dumbbells upward,
                        keeping elbows slightly behind the body to emphasize the stretch on the long head. Lower weights
                        back down under control.
                    </p>
                </div>
                <!-- Grid column -->


                <!-- Grid column -->
                <div class="col-lg-4 col-md-12 mb-4 shadow-lg p-3 mb-5 bg-body rounded">

                    <!-- Featured image -->
                    <div class="view overlay rounded z-depth-2 mb-4">
                        <video src="https://www.shutterstock.com/shutterstock/videos/1046311012/preview/stock-footage-cable-rope-high-pulley-overhead-triceps-extension-upper-arms-exercise-d.webm
" class="card-img-top" controls></video>
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Post title -->
                    <h4 class="font-weight-bold mb-3"><strong>Supported Tricep Pushdowns</strong></h4>
                    <!-- Post data -->
                    <p> <b>Target :</b> Tricep short head <br> <b>Sets to be done :</b> 3-4 || <b>Reps range :</b> 10-12
                    </p>
                    <p>
                        Perform supported tricep pushdowns for the short head by attaching a straight bar to a cable
                        machine. Stand with elbows tight to the body and forearms parallel to the ground. Push the bar
                        downward until arms are fully extended, focusing on contracting the triceps. Return to the
                        starting position smoothly.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-lg-4 col-md-12 mb-4 shadow-lg p-3 mb-5 bg-body rounded">

                    <!-- Featured image -->
                    <div class="view overlay rounded z-depth-2 mb-4">
                        <video src="https://www.shutterstock.com/shutterstock/videos/1046311012/preview/stock-footage-cable-rope-high-pulley-overhead-triceps-extension-upper-arms-exercise-d.webm
" class="card-img-top" controls></video>
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Post title -->
                    <h4 class="font-weight-bold mb-3"><strong>Cable Trciep Overhead Extension</strong></h4>
                    <!-- Post data -->
                    <p> <b>Target :</b> Trciep long head <br> <b>Sets to be done :</b> 3-4 || <b>Reps range :</b> 10-12
                    </p>
                    <p>
                        Execute cable overhead extensions to target the tricep long head. Stand facing away from the
                        cable machine, grab a rope or bar attachment overhead. Lower the attachment behind your head,
                        keeping elbows stationary. Extend arms upward, focusing on stretching the long head. Return to
                        the starting position with control, engaging triceps throughout.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-lg-4 col-md-12 mb-4 shadow-lg p-3 mb-5 bg-body rounded">

                    <!-- Featured image -->
                    <div class="view overlay rounded z-depth-2 mb-4">
                        <video
                            src="https://www.shutterstock.com/shutterstock/videos/3468708679/preview/stock-footage-man-character-doing-box-triceps-dips-hand-workout-in-d-animation-and-illustration-perfect-for.webm"
                            class="card-img-top" controls></video>
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Post title -->
                    <h4 class="font-weight-bold mb-3"><strong>Tricep Dips</strong></h4>
                    <!-- Post data -->
                    <p> <b>Target :</b> Complete Tricep <br> <b>Sets to be done :</b> 3-4 || <b>Reps range :</b> Till
                        Failure
                    </p>
                    <p>
                        Perform tricep dips for comprehensive tricep engagement. Position hands shoulder-width apart on
                        parallel bars, elbows slightly bent. Lower body until elbows reach 90 degrees, keeping torso
                        upright. Push back up, fully extending arms without locking elbows. Maintain control throughout
                        the movement to effectively target all three tricep heads.
                    </p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->

        </section>
        <!--Section: Content-->


    </div>
</div>
<hr>


<!--- bootstrap script --->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>
</body>

</html>