<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/firstpage.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Stay Fit</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="/active_users">Active Users</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/joined_user">Joined Users</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/usercon">Users Messages</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/trainers">Trainers</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/adminpage">Logout</a>
                </li>
        </div>
    </nav>
</body>
</html>